/.idea/
/var/
/vendor/
/bin/*
!/bin/qa
!/bin/mdlinks
!/bin/psr4-validate
!/bin/phpunit-runfailed-filter
/cache/
qaConfig/phpstan.neon
# If this is being installed as a standalone project then we can not include the lock file
composer.lock
