/.idea/
/var/
/vendor/
/bin/*
!/bin/qa
# Don't commit the overwritten config
qaConfig/qaConfig.inc.bash
qaConfig/phpstan.neon
# If this is being installed as a standalone project then we can not include the lock file
composer.lock
