#!/usr/bin/env bash

# project tests folder
testsDir="$(find $projectRoot -maxdepth 1 -type d \( -name test -o -name tests \) | head -n1)"

# project src folder
srcDir="$projectRoot/src"

# project bin dir
binDir="$(find $projectRoot -maxdepth 2 -type d -name bin | head -n1)"

# proeject var dir, sub directory for qa cache files and output files
varDir="$projectRoot/var/qa";

# the path in this library for default config
defaultConfigPath="$(realpath ./../configDefaults/)"

# PHPStan configs
phpstanConfigPath="$(configPath phpstan.neon)"

#PHP Mess Detector Configs
phpmdConfigPath="$(configPath phpmd/ruleset.xml)"

# coding Standard for checking
# checks for a folder called 'condingStandards' in the $projectConfigPath, falls back to the PSR2 standards
phpcsCodingStandardsPath=$(configPath \
    codingStandards \
    $projectRoot/vendor/squizlabs/php_codesniffer/src/Standards/PSR2
)
