parameters:
	reportUnmatchedIgnoredErrors: false
	autoload_files:
		- %rootDir%/../../../../vendor/autoload.php
		- %rootDir%/../../config/phpstan-magento2-bootstrap.php
	excludes_analyse:
	    - */Tests/*
	    - */Test/*
	    - */Fixtures/*
	ignoreErrors:
	    # Magento lies about what will be returned by methods, so we need to cast which is an "error". Ignore those
	    - "#Casting to [^ ]* something that's already [^ ]*.*#"

