includes:
#	- ../../../../vendor/phpstan/phpstan-strict-rules/rules.neon
#
# Uncomment this if you composer install phpstan/phpstan-phpunit
#	- ../../../../vendor/phpstan/phpstan-phpunit/extension.neon