<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/3.7/phpunit.xsd"
        cacheTokens="false"
        verbose="true"
        colors="true">
    <logging>
        <log type="junit" target="./../var/qa/phpunit_logs/phpunit.junit.xml"/>
    </logging>
    <testsuites>
        <testsuite name="tests">
            <directory suffix="Test.php">../../../../../tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
