<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/3.7/phpunit.xsd"
        cacheTokens="false"
        verbose="true"
        colors="true">
    <testsuites>
        <testsuite name="tests">
            <directory suffix="Test.php">../tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
