<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
        cacheTokens="false"
        colors="true"
        verbose="true"
        forceCoversAnnotation="true"
        printerClass="\PHPUnit\Util\TestDox\CliTestDoxPrinter"
        timeoutForMediumTests="5"
        timeoutForSmallTests="1"
        timeoutForLargeTests="300"
        failOnRisky="true"
        failOnWarning="true"
        defaultTestSuite="tests"
        beStrictAboutCoversAnnotation="true"
        beStrictAboutTodoAnnotatedTests="true"
        cacheResult="true"
        cacheResultFile="../var/qa/.phpunit.result.cache"
        executionOrder="depends,random"
>
    <logging>
        <log type="coverage-html" target="../var/qa/phpunit_coverage"/>
        <log type="coverage-text" target="php://stdout"/>
        <log type="coverage-xml" target="../var/qa/phpunit_logs/coverage-xml"/>
        <log type="coverage-clover" target="../var/qa/phpunit_logs/coverage.clover"/>
        <log type="junit" target="../var/qa/phpunit_logs/phpunit.junit.xml"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="tests">
            <directory suffix="Test.php">../tests/Small</directory>
            <!-- directory suffix="Test.php">../tests/Medium</directory //-->
            <directory suffix="Test.php">../tests/Large</directory>
        </testsuite>
    </testsuites>
</phpunit>
